/* 1. Diretivas gerais */
body {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto; /* centraliza a página */
}

/* Seção de introdução */
.introducao {
  height: 550px;
}

/* Remove o container #design-archives */
#design-archives {
  display: none;
}

/* 2. Cabeçalho */
header {
  background-color: #1c1c1c; /* fundo escuro */
  color: #ffffff;            /* fonte clara */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Título principal */
header h1 {
  margin-left: 1em; /* espaçamento lateral do título */
}

/* 3. Menus laterais */
aside ul {
  list-style: none; /* remove os bullets */
  padding: 0;
}

aside ul li {
  margin-bottom: 1em; /* espaçamento entre itens */
  text-align: center; /* centraliza os itens */
}

/* 4. Rodapé com contraste */
footer {
  background-color: #c4f5f1/* fundo escuro */
  color: #fff;            /* fonte clara */
  margin: 4% auto;        /* 4% de espaçamento externo */
  padding: 20px;
  text-align: center;
}

footer a {
  display: inline-block;
  border: 2px solid #fff;
  padding: 0.5em;
  margin: 0.5em;
  color: #fff;
  text-decoration: none;
}
